.loginForm{
    margin: 0 auto;
    width: 256px;
    height: 300px;
    background-color: rgba(0, 140, 255, 0.47);
    top:200px;
    position: relative;
    padding: 30px;
}
.loginForm>h1{
    text-align: center;
    margin: 0;

}