#index_img,#index_img2,#canvas2,#canvas1,.wrap{

	position: absolute;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	-moz-tap-highlight-color: transparent;

}
#index_img{
	z-index: 12;
}
#index_img2{
	z-index: 0;
}
#canvas1{
    z-index: 1;
}
#canvas2{
	z-index: 2;
}
.wrap{
    left: 200px;
	width: 800px;
	height: 600px;
}
h3{
	position: absolute;
	right: 40px;
	z-index: 10;
	filter:alpha(opacity=50); /*IE滤镜，透明度50%*/
-moz-opacity:0.5; /*Firefox私有，透明度50%*/
opacity:0.5;/*其他，透明度50%*/
}
strong{
	position: absolute;
	right: 20px;
	top: 20px;
	z-index: 10;
	filter:alpha(opacity=50); /*IE滤镜，透明度50%*/
-moz-opacity:0.5; /*Firefox私有，透明度50%*/
opacity:0.5;/*其他，透明度50%*/
font-size: 20px;
color:red;
}
h2{
	position: absolute;
	left: 30px;
	top:515px;
	z-index: 11;
	color:white;
	filter:alpha(opacity=50); /*IE滤镜，透明度50%*/
-moz-opacity:0.5; /*Firefox私有，透明度50%*/
opacity:0.5;/*其他，透明度50%*/
}
#play{
	position: absolute;
    left: 140px;
    top:520px;
    width: 60px;
    height: 60px;
    z-index: 11;
    filter:alpha(opacity=70); /*IE滤镜，透明度50%*/
-moz-opacity:0.7; /*Firefox私有，透明度50%*/
opacity:0.7;/*其他，透明度50%*/
}
#yin{
	position: absolute;
	right: 200px;
	z-index: 11;
	top: 20px;
}
.zhongpao{
	position: absolute;
	width: 50px;
	height: 50px;
	left: 260px;
	top:525px;
	z-index: 11;
	border-radius: 50px;
	background-color: blue;
	color:white;
	font-size: 20px;
	text-align: center;
	line-height: 50px;
}
#jia,#jian{
		position: absolute;
	width: 30px;
	height: 30px;
	left: 460px;
	top:515px;
	z-index: 11;
	border-radius: 30px;
	background-color: blue;
	color:white;
	font-size: 20px;
	text-align: center;
	line-height: 26px;
}
#jian{
top:555px;
}
em{
	position: absolute;
	left: 234px;
	top: 500px;
	width: 100px;
	height: 20px;
	text-align: center;
	color:white;
	z-index: 11;
}
#readme{
	position: absolute;
	right: 240px;
	z-index: 11;
	top: 20px;
	width: 20px;
	height: 20px;
	background-color: #523543;
	text-align: center;
	line-height: 20px;
}

#shuoming{
	position: absolute;
	width: 400px;
	height: 300px;
	right: 40px;
	top: 80px;
	background-color: white;
	z-index: -1;
	padding: 10px;
	font-size: 16px;
}


.div1,.div2,.div3,.div4{
   position: absolute;
   width: 200px;
   height: 200px;
   line-height: 200px;
   font-size: 30px;
   text-align: center;
   background-color:rgba(0, 231, 255, 0.5);
   color: white
}
.div1{
	left: 160px;
	top:90px;
}
.div1:hover{
	background-color: rgba(0, 231, 255, 1);

}
.div2{
	left: 450px;
	top:90px;
}
.div3{
	left: 160px;
	top: 320px;

}
.div4{
	left: 450px;
	top: 320px;
}
.div2:hover{
	background-color: rgba(0, 231, 255, 1);
	
}
.div3:hover{
	background-color: rgba(0, 231, 255, 1);
	
}
.div4:hover{
	background-color: rgba(0, 231, 255, 1);
	
}
a:hover{
	color: red;
}
p{
	position: absolute;
	text-align: center;
	font-size: 80px;
	z-index:1;
	left: 300px;
	color: rgba(0, 253, 255, 0.16);
}
.pass{
	position: absolute;
	left: 20px;
	top:20px;
	color: white;
	z-index: 11;
	background-color: rgb(0, 255, 220);
	border-radius: 20px;
	padding: 4px;
}




