<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<title>深海捕鱼</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <link rel="SHORTCUT ICON" href="img/1-1.png">
</head>
<body>
<div class="wrap">
    <p>Spring</p>
    <div class="pass"><a id="two" href="#">下一关</a></div>
    <img id="yin" src="img/yin1.png">
    <h3>游戏结束时间：</h3><strong>60</strong>
    <audio src="img/1.mp3" id="audio1" hidden="true" autoplay="false" loop="true">
    </audio> 
    
    <img id="index_img2" src="img/bei.jpg" width=800 height=600>
    <canvas id="canvas1" onselectstart="return false;" width=800 height=600></canvas>
    <canvas id="canvas2" onselectstart="return false;"  width=800 height=600></canvas>
    <h2>重新开始:</h2><img id="play" src="img/play.png" id="play">
    <div id="zhong" class="zhongpao">电击</div>
    <div id="jia" >+</div>
    <div id="jian">-</div>
    <em>准备就绪</em>
    <div id="readme">？</div>
    <div id="shuoming">&nbsp&nbsp&nbsp&nbsp这是一个捕鱼类小游戏，游戏通过限定时间类捕鱼多少来计分。规定玩家在一定的时间内获得相应的分数则为过关。玩家通过控制游戏屏幕底部的炮车方向来发射炮弹，打中游动的各种鱼来获得金币（也就是分数），在这些鱼中，有些鱼会有宝藏，打中则会获得大量金币。炮车旁边有个点击按钮，点击它就会触发电击捕鱼，屏幕上的所有鱼都会被击中。</div>
</div>

    <script type="text/javascript" src="js/commonFunctions.js"></script>
    <script type="text/javascript" src="js/bg.js"></script>
    <script type="text/javascript" src="js/paoche.js"></script>
    <script type="text/javascript" src="js/allfish.js"></script>
    <script type="text/javascript" src="js/paodan.js"></script>
    <script type="text/javascript" src="js/collision.js"></script>
    <script type="text/javascript" src="js/seaweed.js"></script>
    <script type="text/javascript" src = "js/bowen.js"></script>
    <script type="text/javascript" src="js/time.js"></script>
    <script type="text/javascript" src="js/score.js"></script>
    <script type="text/javascript" src="js/gold.js"></script>
    <script type="text/javascript" src="js/main.js"></script> 
    <script type="text/javascript" src="js/onclick.js"></script>
    <script type="text/javascript" src="js/passBingo.js"></script>
</body>
</html>