<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta http-equiv="description" content="孙业春的个人网站">
	<meta name="description" content="孙业春的个人博客，孙业春的技术作品，孙业春的生活成长">
	<meta name="keywords" content="孙业春, 个人博客, 个人网站, web前端,JavaScript,css,html">
	<meta name="author" content="孙业春,sunyechun">
	<title>孙业春的个人网站</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">  
	<link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="SHORTCUT ICON" href="img/1-9.png">
	<script src="jq/jquery-3.2.0.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">Spring</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li >
							 <a href="index.html">个人介绍</a>
						</li>
						<li>
							 <a  href="blog.html">个人博客</a>
						</li >
						<li class="dropdown active">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown">个人作品<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
									 <a href="p_works.html">2d小游戏</a>
								</li>
						
								<li class="divider">
								</li>
								<li>
									 <a href="p_works.html">图书管理系统</a>
								</li>
							</ul>
						</li>
					</ul>
					<form class="navbar-form navbar-left" role="search">
						<div class="form-group">
							<input type="text" class="form-control" />
						</div> <button type="submit" class="btn btn-default">博客搜索</button>
					</form>
					<ul class="nav navbar-nav navbar-right">
						<li>
							 <a href="#" class="btn  btn-lg" data-toggle="modal" data-target="#myModal">登录</a>
						</li>
						<li>
							 <a href="#" class="btn   btn-lg" data-toggle="modal" data-target="#myModal2">注册</a>
						</li>
						<li class="dropdown">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown">网站详情<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
									 <a class="btn  btn-lg" data-toggle="modal" data-target="#myModal4" href="#">访客量：100</a>
								</li>
                                <li class="divider">
								</li>
								<li>
									 <a class="btn   btn-lg" data-toggle="modal" data-target="#myModal3" href="#">网站评分：3.4</a>
								</li>
								<li class="divider">
								</li>
								<li>
                                    <a class="btn   btn-lg" data-toggle="modal" data-target="#myModal5" href="#">网站说明>></a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				    <div class="modal-dialog">
				        <div class="modal-content">
				            
				        </div><!-- /.modal-content -->
				    </div><!-- /.modal-dialog -->
                </div>
				<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				    <div class="modal-dialog">
				        <div class="modal-content">
				            
				        </div><!-- /.modal-content -->
				    </div><!-- /.modal-dialog -->
				</div>
				<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				    <div class="modal-dialog">
				        <div class="modal-content">
				            
				        </div><!-- /.modal-content -->
				    </div><!-- /.modal-dialog -->
                </div>
                <div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				    <div class="modal-dialog">
				        <div class="modal-content">
				            <p>目前网站只做了前端的一些静态内容，后台准备用java.</p>
				        </div><!-- /.modal-content -->
				    </div><!-- /.modal-dialog -->
                </div>
                <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				    <div class="modal-dialog">
				        <div class="modal-content">
				            
				        </div><!-- /.modal-content -->
				    </div><!-- /.modal-dialog -->
                </div>
			</nav>
		</div>
	</div>
	<div class="row clearfix p_active" style="border: 1px solid black;margin: 10px" >
		<div class="col-md-6 column">
			<dl>
				<dt>
					situation
				</dt>
				<dd>
					这个项目是一门课程设计作业，老师给了大约两个月的时间设计开发一款游戏。
				</dd>
				<dt>
					task
				</dt>
				<dd>
					拿到这个项目我选择了开发一个捕鱼类的小游戏,负责全部的开发过程。
				</dd>
			
				<dt>
					action
				</dt>
				<dd>
					之后一几天去网上看了一些类似的教程，最后选择用h5开发，想着尽量用前端知识去解决。之后开始写游戏的整体思路，要实现的功能，以及这些功能自己能不能实现。写好后，就开始分模块写代码。遇到很多问题，查找网上或者之前的教程都解决了。
				</dd>
				<dt>
					result
				</dt>
				<dd>
					提前顺利完成了。
				</dd>
			</dl>
		</div>
		<div class="col-md-6 column">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>
							项目名称
						</th>
						<th>
							项目类型
						</th>
						<th>
							开始时间
						</th>
						<th>
							完成时间
						</th>
					</tr>
				</thead>
				<tbody>

					<tr>
						<td>
							2d捕鱼游戏
						</td>
						<td>
							2d，h5小游戏
						</td>
						<td>
							02/04/2017
						</td>
						<td>
							03/04/2017
						</td>
					</tr>
					<p style="margin: 10px;">
					    项目链接：<a href="https://github.com/syc666/myfish">https://github.com/syc666/myfish</a>
					</p>
					<p style="margin: 10px;">
						成品链接：<a href="http://www.666syc.com/buyu">http://www.666syc.com/buyu</a>
                    </p>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row clearfix" style="border: 1px solid black;margin: 10px" >
		<div class="col-md-6 column">
			<dl>
				<dt>
					situation
				</dt>
				<dd>
					学校学生在线工作室的图书需要有秩序的借还，需要一个图书系统。
				</dd>
				<dt>
					task
				</dt>
				<dd>
					我负责前端开发的四个PC和移动端页面
				</dd>
			
				<dt>
					action
				</dt>
				<dd>
					在做这个项目之前，不知道要做出响应式的，也没用过框架，就修改了很多次，毕竟也是第一次做项目，最后就用css媒体查询实现响应式，虽然不正规，但还是完成了。
				</dd>
				<dt>
					result
				</dt>
				<dd>
					顺利完成了。
				</dd>
			</dl>
		</div>
		<div class="col-md-6 column">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>
							项目名称
						</th>
						<th>
							项目类型
						</th>
						<th>
							开始时间
						</th>
						<th>
							完成时间
						</th>
					</tr>
 
				</thead>
				<tbody>
					<tr>
						<td>
							图书管理系统
						</td>
						<td>
							c#为后台的图书管理系统
						</td>
						<td>
							09/09/2016
						</td>
						<td>
							10/4/2017
						</td>
					</tr>
					<p style="margin: 10px;">
					    项目链接：<a href="https://coding.net/u/cumt_online/p/FS1609_FlyingLibrary/git">https://coding.net/u/cumt_online/p/FS1609_FlyingLibrary/git</a>
					</p>
					<p style="margin: 10px;">
						成品链接：<a href="http://library.flyingstudio.online:88/">http://library.flyingstudio.online:88/</a>
                    </p>
				</tbody>
			</table>
		</div>
	</div>
</div>


</body>
</html>