<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta http-equiv="description" content="孙业春的个人网站">
	<meta name="description" content="孙业春的个人博客，孙业春的技术作品，孙业春的生活成长">
	<meta name="keywords" content="孙业春, 个人博客, 个人网站, web前端,JavaScript,css,html">
	<meta name="author" content="孙业春,sunyechun">
	<title>孙业春的个人网站</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">  
    <link rel="SHORTCUT ICON" href="img/1-9.png">
	<script src="jq/jquery-3.2.0.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
	<div id="content"></div>
	<script  src='build/build.js'></script>
</body>
</html>